In [1]:
# 1. Load the dataset using pandas
import pandas as pd
data = pd.read_csv('C:/Users/Admin/Downloads/data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
# 2. Extract data from Years Experience column is a variable named X
X = data.iloc[:,0:1]

In [5]:
# 3. Extract data from salary column is a variable named Y
Y = data.iloc[:,1]

In [7]:
# 4. Divide the dataset into two parts for training and testing in 66% and 33% proportion
from sklearn.model_selection import train_test_split
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size = 0.33, random_state = 0)

In [10]:
# 5. Create and train LinearRegression Model on training set
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [11]:
lr.fit(train_X, train_Y)

LinearRegression()

In [13]:
# 6. Make predictions based on the testing set using the trained model
Y_pred = lr.predict(test_X)
Y_pred

array([ 40835.10590871, 123079.39940819,  65134.55626083,  63265.36777221,
       115602.64545369, 108125.8914992 , 116537.23969801,  64199.96201652,
        76349.68719258, 100649.1375447 ])

In [17]:
# 7. Check the performance by calculating the r2 score of the model
from sklearn.metrics import r2_score
r2_score(test_Y, Y_pred)

0.9749154407708353